@import '/styles/_variables.scss';

.line {
  scroll-snap-align: start;
}

@media screen and (min-width: 950px) {
  .line {
    margin-top: 50px;
    height: 3px;
    background-color: $primary;
  }
}
