@import '/styles/_variables.scss';

.container {
  min-height: 100vh;
  background-color: $primary-dark;
  position: relative;
}

.header {
  margin: 0 auto;
  margin-top: 150px;
  width: fit-content;
}

.full_name {
  font-weight: 600;
  font-size: 46px;
}

.role {
  font-size: 22px;
  margin: 8px 0 25px 0;
}

.arrow_down {
  position: absolute;
  bottom: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
}
