@import '/styles/variables';

.container {
  background-color: $primary;
  padding: 35px;
  position: relative;
  padding-bottom: 300px;
  margin-bottom: 500px;
}

.header {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact_info {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.social_media_list {
}

.social_media_container {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.social_media_text {
  font-size: 20px;
  margin-left: 30px;
}

.quick_contact_outer_container {
  position: absolute;
  bottom: 260px;
  transform: translateY(100%);
  left: 0;
  width: 100%;
  padding: 0 10px;
}

.quick_contact_container {
  background-color: $white;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.quick_contact_header {
  color: $text-dark;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}

.input,
.textarea {
  color: $primary;
  border: 2px solid $primary;
  display: block;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 430px;
  margin-bottom: 42px;
}

.textarea {
  min-height: 256px;
  margin-bottom: 20px;
}
