@import '/styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  margin-top: 140px;
  height: 250px;
  background-color: $primary-dark;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 500ms;

  @media screen and (min-width: 600px) {
    padding: 0 50px;
  }

  @media screen and (min-width: 900px) {
    height: 300px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 140px 0 100px;
  }

  & > div {
    position: relative;
    z-index: 5;
  }

  &::before {
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(98, 98, 98);
    position: absolute;
    transition: all 500ms;
    z-index: 2;
  }

  &::after {
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(227, 227, 227);
    position: absolute;
    transition: all 500ms;
    transition-delay: 200ms;
    z-index: 3;
  }

  &:hover {
    color: $text-dark;

    .arrow_wrapper {
      filter: invert(100%);
      transform: translateX(10px);

      @media screen and (min-width: 1200px) {
        transform: translateX(40px);
      }
    }

    &::before {
      height: 100%;
    }

    &::after {
      height: 100%;
    }
  }
}

.header {
  font-size: 18px;
  margin-bottom: 10px;

  @media screen and (min-width: 900px) {
    font-size: 22px;
  }
}

.big_text {
  font-weight: 600;
  font-size: 24px;

  @media screen and (min-width: 600px) {
    font-size: 34px;
  }

  @media screen and (min-width: 900px) {
    font-size: 44px;
  }
}

.arrow_wrapper {
  filter: invert(0%);
  width: 50px;
  transition: all 200ms;

  @media screen and (min-width: 900px) {
    width: 70px;
  }
}
